@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app { height: 100%; }
body {
  @apply bg-slate-950 text-slate-50;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text", sans-serif;
}